.thumb {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 10px;
}

.thumb_title {
  font-weight: var(--regular-weigth);
  font-size: var(--large-font);
  color: var(--white-color);
  position: absolute;
  z-index: 2;
  text-align: left;
  padding: 20px;
  margin: 0;
}

.thumb_image {
  max-width: 335px;
  height: 255px;
  border-radius: 10px;
  z-index: 0;
  object-fit: cover;
  filter: brightness(0.8);
}

.thumb_image:hover {
  filter: brightness(0.9);
  transition: 0.4s;
}

@media screen and (min-width: 900px) {
  .thumb_image {
    height: 340px;
  }
}
