.thumb_title {
  position: absolute;
  z-index: 2;
  color: #fff;
  width: 300px;
  padding: 20px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  white-space: normal;
}

.thumb {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 10px;
  max-width: 335px;
  justify-content: center;
}

.thumb_image:hover {
  filter: brightness(0.9);
  transition: 0.4s;
}

.thumb_image {
  max-width: 335px;
  height: 255px;
  border-radius: 10px;
  z-index: 0;
  object-fit: cover;
  filter: brightness(0.8);
}

@media screen and (min-width: 900px) {
  .thumb_image {
    height: 340px;
  }
}
