.accomodation {
  margin: 0 20px;
}

.accomodation_header_infos h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.accomodation_header_infos h2 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 142.6%;
}

.accomodation_header_infos_tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.accomodation_header_host-infos {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
}

.accomodation_details {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {
  .accomodation_header_host-infos {
    display: block;
  }

  .accomodation_header {
    display: flex;
    justify-content: space-between;
  }

  .accomodation_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
