body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ff6060;
  font-weight: 400;
  height: 100%;
}

.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.content {
  max-width: 1240px;
  width: 100%;
  /* margin: 0 auto; */
}
