.host {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.host_name {
  font-size: var(--medium-font);
  font-weight: var(--medium-weigth);
  line-height: 1.4;
  text-align: right;
  width: 30%;
}

.host_picture {
  width: 30%;
  border-radius: 50px;
}
