.header_kasa-logo {
  width: var(--small-logo);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header_link {
  width: 50%;
}

@media screen and (min-width: 900px) {
  .header_kasa-logo {
    width: var(--large-logo);
  }
}
