.gallery {
  /* background-color: #f6f6f6; */
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 355px;
  padding: 20px 0px;
}
