.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 10px 0px;
}

@media screen and (min-width: 900px) {
  .gallery {
    margin: 50px auto;
    max-width: 1200px;
    border-radius: 25px;
    grid-template-columns: 340px;
    background-color: var(--secondary-color);
  }
}
