.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 355px;
  padding: 20px 0px;
}

@media screen and (min-width: 900px) {
  .gallery {
    border-radius: 25px;
    grid-template-columns: 340px;
    background-color: var(--white-color);
  }
}
