.carousel_image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel_button_prev,
.carousel_button_next {
  background: none;
}

.carousel_button_arrow {
  width: var(--small-font);
  padding: 10px;
}

.carousel_button_prev:disabled,
.carousel_button_next:disabled {
  visibility: hidden;
  opacity: 0;
}

.carousel_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
}

.carousel_counter {
  visibility: hidden;
}

@media screen and (min-width: 900px) {
  .carousel_counter {
    visibility: visible;
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    font-size: var(--large-font);
    font-weight: var(--medium-weigth);
  }

  .carousel {
    justify-content: center;
  }

  .carousel_image {
    height: 40vh;
  }
}
