.footer {
  background-color: var(--black-color);
  padding: 70px 0px 60px;
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

.footer p {
  color: var(--white-color);
  margin: 0;
}

.footer img {
  width: var(--medium-logo);
  padding-bottom: 30px;
}
