.banner {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 0 20px;
}

.banner_title {
  position: absolute;
  z-index: 2;
  font-size: var(--title-font);
  font-weight: var(--medium-weigth);
  width: 57%;
  padding-left: 40px;
  color: var(--white-color);
}

.banner_image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
  filter: brightness(0.7);
}
