.banner {
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 10px;
  margin: 0 auto;
  height: 20vh;
  width: 100%;
}

.banner_title {
  position: absolute;
  z-index: 2;
  font-size: 24px;
  width: 180px;
  padding-left: 20px;
  font-weight: 400;
  color: #fff;
}

.banner_image {
  height: 20vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
  filter: brightness(0.7);
}
